body {
    background: black;
    margin: 0;
}

#map {
    width: 100vh;
    height: 100vh;
    background: #669966;
    position: relative;
    margin: auto;
}

.bolid {
    position: absolute;
    width: 2vh;
    height: 3vh;
    background: red;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.bullet {
    position: absolute;
    background: #ff9;
    border-radius: 50%;
}

.boom {
    position: absolute;
    border-radius: 30% 30% 100% 100%;
}