body {
    background: black;
    margin: 0;
    overflow: hidden;
}

#map {
    width: 100vh;
    height: 100vh;
    background: #669966;
    position: relative;
    margin: auto;
}

.bolid {
    z-index: 99;
    position: absolute;
    width: 1.5vh;
    height: 2.25vh;
    background: red;
    border-radius: 70% 70% 50% 50%;
}

.bullet {
    position: absolute;
    background: #ff9;
    border-radius: 50%;
    min-width: 2px;
}

.boom {
    position: absolute;
    min-width: 2px;
    border-radius: 70% 70% 100% 100%;
    background: black;
    opacity: 0.2;
}